* text=auto

*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.psm1 text eol=crlf
*.psd1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
*.kts text eol=lf
*.kt text eol=lf
*.xml text eol=lf
*.properties text eol=lf
*.gitignore text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.jar binary
*.dll binary
*.jks binary
*.keystore binary
